<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">¡Hola!</h1>
  <p class="lead">Estamos de vuelta, se han cambiado muchas cosas por debajo, pero si lo único que te interesa es jugar. Ve echando un ojo al apartado de torneos.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Torneos</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Participa o créalo</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Gratis</li>
          <li>Formato Suizo o KO</li>
          <li>Sistema de baneos</li>
          <li>Draft eligiendo expansiones</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" [routerLink]="['/tournaments']">Ver torneos</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Contacto</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Síguenos para estar al tanto</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><a href="https://twitter.com/roedornet"><span class="fa fa-twitter"></span> @roedornet</a></li>
          <li><a href="emailto: info@roedor.net">info@roedor.net</a></li>
        </ul>
      </div>
    </div>
    <iframe src="https://discordapp.com/widget?id=280013477106417669&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0"></iframe>
  </div>
</div>
