<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="jumbotron jumbotron-fluid">

        <div class="container" *ngIf="tournament">
          <h1>{{tournament.name}}</h1>
          <h5><i class="fa fa-camera-retro"></i> BO{{tournament.bo}} con {{tournament.bans}} bans</h5>
          <!--<a class="btn peach-gradient"><i class="fa fa-clone left"></i> View project</a>-->
          <button class="btn btn-success" *ngIf="!participant && !tournament.active" (click)="joinTournament()">Unirse</button>
          <button class="btn btn-danger" *ngIf="participant && !tournament.active" (click)="unjoinTournament()">Desapuntarse</button>
          <button class="btn btn-success" *ngIf="participant && checkin" (click)="unjoinTournament()">Check-IN</button>
        </div>
      </div>

    </div>

    <div class="col-md-3" *ngIf="manageTournament && tournament">
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;" *ngIf="!tournament.active">
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Pulsa el botón para generar los primeros partidos y dar comienzo al torneo <br />
          <button type="button" class="btn btn-success btn-lg" (click)="startTournament()">Comenzar</button></p>
        </div>
      </div>

      <div class="card text-white bg-success mb-3" style="max-width: 18rem;" *ngIf="tournament.active">
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Cuando no queden partidos pendientes de la jornada podemos generar la siguiente <br />
          <button type="button" class="btn btn-primary btn-lg" (click)="nextRound()" [disabled]="matchesLeftNextRound > 0">Generar</button></p>
        </div>
      </div>
    </div>

  </div>

  <nav class="nav nav-pills nav-fill flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" [routerLink]="['lobby']">Lobby</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" [routerLink]="['rules']">Reglas</a>
    <!--<a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" [routerLink]="['bracket']">Bracket/Partidos</a>-->
    <a class="flex-sm-fill text-sm-center nav-link" routerLinkActive="active" [ngClass]= "{'active': _tournamentService.enableMatch}" routerLink="bracket">Bracket/Partidos</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" [routerLink]="['packs']" *ngIf="participant && tournament.draft > 0">Sobres <span class="badge badge-light">{{_tournamentService.packs}}</span></a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLinkActive]="['active']" [routerLink]="['decks']" *ngIf="participant && tournament.decks > 0">Mazos</a>
  </nav>

  <div class="row">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
