<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['tournaments']" [routerLinkActive]="['active']">
              <span data-feather="home"></span>
              Torneos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['users']" [routerLinkActive]="['active']">
              <span data-feather="file"></span>
              Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['games']" [routerLinkActive]="['active']">
              <span data-feather="shopping-cart"></span>
              Juegos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['news']" [routerLinkActive]="['active']">
              <span data-feather="users"></span>
              Información
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>

		<div class="row">
	    <div class="container-fluid">
	      <router-outlet></router-outlet>
	    </div>
	  </div>

  </div>
</div>
