<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div *ngIf="_tournamentService.packs >= 0 || actualPack.length > 0">
				<div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          	<b>Te restan {{_tournamentService.packs}} sobres.</b>
        </div>
				<button type="button" class="btn btn-danger btn-lg" id="newPack" (click)="openPack()" *ngIf="_tournamentService.packs > 0">ABRIR SOBRE</button>

				<div class="pack">
					<div class="cardPack fechado common" style="display:none;" (mousedown)="clickCard()">
						<div class="card_glow"></div>
				    <div class="back"></div>
				    <div class="front"></div>
					</div>
					<div class="cardPack fechado common" style="display:none;" (mousedown)="clickCard()">
						<div class="card_glow" style="box-shadow: none; -webkit-transition: box-shadow 600ms; transition: box-shadow 600ms;"></div>
				    <div class="back"></div>
				    <div class="front"></div>
					</div>
					<div class="cardPack fechado common" style="display:none;" (mousedown)="clickCard()">
						<div class="card_glow" style="box-shadow: none; -webkit-transition: box-shadow 600ms; transition: box-shadow 600ms;"></div>
				    <div class="back"></div>
				    <div class="front"></div>
					</div>
					<div class="cardPack fechado common" style="display:none;" (mousedown)="clickCard()">
						<div class="card_glow" style="box-shadow: none; -webkit-transition: box-shadow 600ms; transition: box-shadow 600ms;"></div>
				    <div class="back"></div>
				    <div class="front"></div>
					</div>
					<div class="cardPack fechado rare" style="display:none;" (mousedown)="clickCard()">
						<div class="card_glow" style="box-shadow: none; -webkit-transition: box-shadow 600ms; transition: box-shadow 600ms;"></div>
				    <div class="back"></div>
				    <div class="front"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row text-center">
	<div class="col-xs-2" *ngFor="let card of json_cards_pool">
	<figure *ngIf="card.rarity != 'FREE'">
		<img src="https://art.hearthstonejson.com/v1/render/latest/enUS/256x/{{card.id}}.png" width="128px"/>
		<figcaption><h4>x{{card.quantity}}</h4></figcaption>
	</figure>
	</div>
</div>

<div class="row">

</div>
